<div class="container full-width-container">
    <link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
    <div id="home-container" class="full-width-background">

        <div>
            <div class="tabs-dashboard">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class="container">
                            <div id="main" class="col-md-12">
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/appointments.png"><div class="clear"></div><p>Appoinments</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/calendar-task.png"><div class="clear"></div><p>Calender</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/calls-icon.png"><div class="clear"></div><p>Calls</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/clients-icon.png"><div class="clear"></div><p>Clients</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/contacts-icon.png"><div class="clear"></div><p>Contacts</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/email.png"><div class="clear"></div><p>Email</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/leads-icon.png"><div class="clear"></div><p>Leads</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/meeting-icon.png"><div class="clear"></div><p>Meeting</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/quotations-icon.png"><div class="clear"></div><p>Quotations</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/sms-icon.png"><div class="clear"></div><p>Sms</p></div></a>
                                <a href="@Url.Action("Index", "Student")"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/student-enquiry.png"><div class="clear"></div><p>Student</p></div></a>
                                
                                <!--a href="modules/hr/hr.php?currentMod=hr"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="images/module-icons/hr/hr.png"><div class="clear"></div><p>HR</p></div></a-->
                               
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane reports-div" id="tab_default_2">
                    </div>
                </div>
            </div>
        </div>



     
        <div class="clear"></div>
    </div>
</div>
