<div class="container full-width-container">
    <link href="~/fonts/StyleSheet1.css" rel="stylesheet" />
    <div id="home-container" class="full-width-background">

        <div>
            <div class="tabs-dashboard">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class="container">
                            <div id="main" class="col-md-12" style="margin-left:10%">
                                <a href="@Url.Action("Index", "StudentDetails")"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/student-enquiry.png" /><div class="clear"></div><p>Add Student</p></div></a>
                                <a href="#"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="~/Images/student-enquiry.png"><div class="clear"></div><p>List Student</p></div></a>

                                <!--a href="modules/hr/hr.php?currentMod=hr"><div class="col-md-2 col-sm-3 col-xs-6 module-boxes"><img src="images/module-icons/hr/hr.png"><div class="clear"></div><p>HR</p></div></a-->

                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane reports-div" id="tab_default_2">
                    </div>
                </div>
            </div>
        </div>




        <div class="clear"></div>
    </div>
</div>
